{% extends "./base.html" %}

{% block content %}
<main class="form-signin w-50 position-absolute top-50 start-50 translate-middle">

  {% if registered %}
  <div class="alert alert-success" role="alert">
    Thank you for registering, login now!
  </div>
  {% endif %}

  <form id="user_form" method="post" action="/signup/" enctype="multipart/form-data">

    <div class="text-center">
      <img class="mb-4 " src="../static/link.png" alt="" width="72">
      <h5 class="display-6 mb-3">Social Application</h5>
    </div>

    <p class="mb-3 text-center">Sign Up</p>
    {% csrf_token %}

    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          {{user_form.first_name}}
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          {{user_form.last_name}}
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          {{profile_form.gender}}
          <label for="gender">Gender</label>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          {{user_form.email}}
          <label for="email">Email address</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          {{profile_form.dob}}
          <label for="dob">Date of Birth</label>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          {{user_form.username}}
          <label for="username">Username</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          {{user_form.password}}
          <label for="password">password</label>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="w-100 btn btn-default text-white" type="submit" style="background-color: #45d0b0">Sign Up</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2023, Academic Presentation Only</p>
    </div>

  </form>
  <a class="w-100 btn btn-link" href="../login">Login</a>

</main>
{% endblock %}