{% extends "../base.html" %}

{% block content %}

{% include "../partials/header.html" %}
<main class="form-signin w-50 position-absolute top-50 start-50 translate-middle">

    <div class="text-center">

        {% if failed %}
        <div class="alert alert-primary" role="alert">
            {{message}}
            {{errors}}
        </div>
        {% endif %}

    </div>

    <form id="create_room_form" method="POST" action="/room/" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="display-4 mb-3 text-center">Create Room</p>
        <div class="form-floating mb-3">
            {{create_room_form.name}}
            <label for="name">Room Name</label>
        </div>
        <div class="form-floating mb-3">
            {{create_room_form.description}}
            <label for="description">Room Description</label>
        </div>
        <div class="text-center">
          <button class="w-100 btn btn-default text-white" type="submit" style="background-color: #45d0b0">Start Chat</button>
        </div>
    </form>
</main>
{% include "../partials/footer.html" %}

{% endblock %}